<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
<div style="padding: 10px;">

    <h2> Welcome to IIoT Industry ...</h2><hr /><br />
    
</div>
<div style="padding: 10px;">
<%# For further DB output! %>
  
        <h4 style="padding: 2px;">What is Industry 4.0—the Industrial Internet of Things (IIoT)?</h4>
        <p><%= data %></p>    
        <hr /><br/>

        <h4>Basic IIoT Concepts and Glossary of Terms</h4>
        <p class="u-pt-20">There are hundreds of concepts and terms that relate to IIoT and Industry 4.0, but here are 12 foundational words and phrases to know before you decide whether you want to invest in Industry 4.0 solutions for your business:</p>
        <ul>
            <li><strong>Enterprise Resource Planning (ERP):&nbsp;</strong>Business process management tools that can be used to manage information across an organization.</li>
            <li><strong>IoT:&nbsp;</strong>IoT stands for Internet of Things, a concept that refers to connections between physical objects like sensors or machines and the Internet.</li>
            <li><strong>IIoT:&nbsp;</strong>IIoT stands for the Industrial Internet of Things, a concept that refers to the connections between people, data, and machines as they relate to manufacturing.</li>
            <li><strong>Big data:&nbsp;</strong>Big data refers to large sets of structured or unstructured data that can be compiled, stored, organized, and analyzed to reveal patterns, trends, associations, and opportunities.</li>
            <li><strong>Artificial intelligence (AI):</strong>&nbsp;Artificial intelligence is a concept that refers to a computer’s ability to perform tasks and make decisions that would historically require some level of human intelligence.</li>
            <li><strong>M2M:&nbsp;</strong>This stands for machine-to-machine, and refers to the communication that happens between two separate machines through wireless or wired networks.</li>
            <li><strong>Digitization:</strong>&nbsp;Digitization refers to the process of collecting and converting different types of information into a digital format.</li>
            <li><strong>Smart factory:</strong>&nbsp;A smart factory is one that invests in and leverages Industry 4.0 technology, solutions, and approaches.</li>
            <li><strong>Machine learning:</strong>&nbsp;Machine learning refers to the ability that computers have to learn and improve on their own through artificial intelligence—without being explicitly told or programmed to do so.</li>
            <li><strong><a href="/en/blog/cloud-computing-and-iiot/" target="_top" rel="noopener" class="no-cap u-underline     link-text no-cap u-underline" data-content-weight=" ">Cloud computing</a>:</strong>&nbsp;Cloud computing refers to the practice of using interconnected remote servers hosted on the Internet to store, manage, and process information.</li>
            <li><strong>Real-time data processing:</strong>&nbsp;Real-time data processing refers to the abilities of computer systems and machines to continuously and automatically process data and provide real-time or near-time outputs and insights.</li>
            <li><strong>Ecosystem:</strong>&nbsp;An ecosystem, in terms of manufacturing, refers to the potential connectedness of your entire operation—inventory and planning, financials, customer relationships, supply chain management, and manufacturing execution.</li>
            <li><strong>Cyber-physical systems (CPS):</strong>&nbsp;Cyber-physical systems, also sometimes known as cyber manufacturing, refers to an Industry 4.0-enabled manufacturing environment that offers real-time data collection, analysis, and transparency across every aspect of a manufacturing operation.</li>
            </ul>
</div>
    
</body>
<%- include('../partials/footer1') %>
